<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>-->

</head>
<body>

<br>
<h1>Login</h1>

<form method='POST' enctype='multipart/form-data' action="/login">
    <input name='name' placeholder='username'><br>
    <input name="password" placeholder="password" type="password"/>
    <br>
    <input class='sub' type='submit' value='Login'>
</form>
<hr>
{% if error %}
<p>Username/Password incorrect or username doesn't exist</p>
{% endif %}
<p>Contact an administrator to create an account</p>
</body>
</html>